*,
*::before,
*::after {
  margin: 0;
}

.projects {
    /* font-family: "Quicksand", sans-serif; */
    display: grid;
    /* grid-template-rows: auto auto; */
    /* place-items: center; */
    height: 100vh;
    background: linear-gradient(0deg, rgb(0, 0, 0) 20%, rgb(86, 8, 68) 75%);
    overflow-y: scroll;
}

a {
    color: white;
    margin-top: 1.5em;
    margin-left: 1.3em;
    width: min-content;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
}

a:hover { COLOR: #a8bbbf; TEXT-DECORATION: none; font-weight: none }

.reg_link, .router_link {
    margin: 0;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
    padding-bottom: 5em;
    /* padding-top: 3em; */
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(22em, calc(20em + 2vw), 22em);
    height: min-content;
    /* width: 25%; */
    overflow: hidden;
    border-radius: 1em;
    background: rgba(75, 75, 75, 0.25);
    outline: 1px solid rgba(255, 255, 255, 0.15);
    color: white;
}

.in-card {
    /* width: 80%; */
    color: white;
}

img, video {
    max-width: 100%;
    border-radius: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card__body {
    padding: 1rem;
    flex-direction: column;
    gap: .5rem;
}

h2 {
    margin-top: 0.5em;
}


p, ul {
    font-size: 1.1em;
}

ul {
    list-style-type: circle;
}

li {
    margin: 10px 0;
}

.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

.card__footer {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin-top: auto;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.project_footer{
    color: white;
}



/* click zoom images */

.zoom_img {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: equally-spaced;
}
  
.zoom_img label {
    position: relative;
}

.zoom_img img {
    width: 45%;
    object-fit: contain;
}
  
.zoom_img input:checked+img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: rgba(75, 75, 75, 0.75);
    object-fit: contain;
}
  
.zoom_img input {
    width: 19vh;
    height: 19vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
}